[submodule "nematus"]
	path = nematus
	url = git@github.com:bgospodinov/nematus.git
	branch = msc
[submodule "subword-nmt"]
	path = subword-nmt
	url = git@github.com:rsennrich/subword-nmt.git
[submodule "data/UD_Bulgarian-BTB"]
	path = data/datasets/UD_Bulgarian-BTB
	url = git@github.com:UniversalDependencies/UD_Bulgarian-BTB.git
[submodule "data/datasets/UD_English-EWT"]
	path = data/datasets/UD_English-EWT
	url = git@github.com:UniversalDependencies/UD_English-EWT.git
[submodule "data/datasets/UD_German-GSD"]
	path = data/datasets/UD_German-GSD
	url = git@github.com:UniversalDependencies/UD_German-GSD.git
[submodule "data/datasets/UD_Czech-PDT"]
	path = data/datasets/UD_Czech-PDT
	url = git@github.com:UniversalDependencies/UD_Czech-PDT.git
[submodule "data/datasets/UD_Romanian-RRT"]
	path = data/datasets/UD_Romanian-RRT
	url = git@github.com:UniversalDependencies/UD_Romanian-RRT.git
[submodule "data/datasets/UD_Tamil-TTB"]
	path = data/datasets/UD_Tamil-TTB
	url = git@github.com:UniversalDependencies/UD_Tamil-TTB.git
